//variable;
$color-primary = #D30;
$color-sub = #188;
$color-light = #EEE;

$color-dark = #333;

$color-white = #FFF;
$color-black = #000;
$color-grey=#DDD;

$color-danger = #F30;
$color-success = #D90;
$color-warn = #ff8571;

$font-small = rem(28);
$font-normal = rem(32);
$font-large = rem(36);